* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: .5rem;
    width: 85%;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: aquamarine;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1;
    margin-left: calc(1rem + 2px);
    margin-left: calc(1rem + 2px);
    padding: 5%;
}


span {
    font-size: 22pt;
}

.quote-input {
    background-color: transparent;
    border: 2px solid #000;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#canvas-section {
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    background-color: white;
}

#can {
    border-style: solid;
}

#user-area {
    margin-top: 2.5%;
    width: 100%;
}

#input-result {
    font-size: 26pt;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
